<!-- HEADER OF THE APP GOES HERE -->
<app-header></app-header>

<!--<div class="jumbotron text-center">-->
<!--  <h1>Company</h1>-->
<!--  <p>We specialize in blablabla</p>-->
<!--  <form>-->
<!--    <div class="input-group">-->
<!--      <input type="email" class="form-control" size="50" placeholder="Email Address" required>-->
<!--      <div class="input-group-btn">-->
<!--        <button type="button" class="btn btn-danger">Subscribe</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->

<!-- CONTAINER OF THE APP GOES HERE -->
<div id="MyAppContainer">
<!--  <app-home></app-home>-->
  <router-outlet></router-outlet>
</div>

<!-- FOOTER OF THE APP GOES HERE-->
<app-footer></app-footer>
