<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#myPage">JAVAFORYOU</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">JAVA</a></li>
        <li><a href="#services">SPRING</a></li>
        <li><a href="#portfolio">SPRING BOOT</a></li>
        <li><a href="#pricing">HIBERNATE</a></li>
        <li><a href="#contact">INTERVIEW QUES</a></li>
      </ul>
    </div>
  </div>
</nav>
